.header {
  display: grid;
  justify-content: space-evenly;
  padding: 1rem;
  background: var(--secondary-color, #ffffff);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-style: normal;
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 1.8rem;

  color: var(--primary-color);
}